
    h1{
    color: chocolate;
    text-align:center;
    text-decoration:underline;
    background-color:burlywood
}
h2{
    color:darkorange;
    text-align:center;
    text-decoration:underline;
    background-color:antiquewhite;
}

